@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: scroll;
  height: 100%;
  font-size: 14px;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  word-break: keep-all;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('@/assets/images/login/bg_body.png') no-repeat center center fixed;
  background-size: cover;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

caption,
address,
legend,
hr {
  display: none;
}

table {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

form {
  display: inline;
}

input,
select {
  background: transparent;
  border: 0;
}

button {
  border: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

strong {
  font-weight: bold;
}

img,
audio,
video,
object,
embed {
  border: 0;
  vertical-align: middle;
  height: auto;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}