.production-con {
  .current-con,
  .chart-con {
    padding-top: 30px;
    .display-box {
      padding-bottom: 60px;

      ul { 
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid #fff;
        border-radius: 8px; 

        li {
          @include position(relative);
          @include flex(row, flex-start, center);
          margin-left: 30px;
          height: 54px;

          p {
            @include position(relative);
            padding-left: 74px;
            @include typography(14px, normal, #fff);

            strong {
              @include typography(30px, 600, #fff);
              display: block;

              span {
                @include typography(18px, normal, #8a95aa);
              }
            }

            &::before {
              content: '';
              @include position(absolute, 3px, 0);
              @include size(60px, 54px);
              background: url('/src/assets/images/common/sprite_production.png')
                no-repeat 0 0;
            }
          }

          &:nth-child(1) p::before {
            background: url('/src/assets/images/common/ico_test01.png')
              no-repeat 0 0;
            @include size(75px, 54px);
            margin-left: -10px;
          }

          &:nth-child(2) p::before {
            background-position-x: -95px;
          }

          &:nth-child(3) p::before {
            background-position-x: -430px;
          }

          &:nth-child(4) p::before {
            background-position-x: right;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            @include size(1px, 100%);
            background-color: rgba(255, 255, 255, 0.25);
            display: inline-block;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
    .search-box {
      margin-bottom: 10px;
    }
    .chart-box {
      padding-bottom: 60px;
      .line,
      .bar {
        &:hover {
          opacity: 0.8;
          transition: all 0.3s ease;
        }

        &:active {
          opacity: 0.8;
          transform: scale(0.98);
        }
      }

      .zoom-in,
      .zoom-out {
        transition: all 0.3s ease;

        &:hover {
          opacity: 0.8;
          background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
          opacity: 0.6;
          transform: scale(0.98);
        }

        &:focus {
          outline: none;
          @include box-shadow(#2d3a7c, 0.8);
        }
      }

      span {
        @include flex(row, center, center);
        @include position(absolute, 0, 0);
        height: 26px;
        padding: 4px 10px;
        border-radius: 13px;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
    .table-box {
      .tit {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
        span {
          color: #ffe500;
        }
      }
    }

    .display-sub-box {
      padding-bottom: 60px;
      display: grid;
      grid-template-columns: 1fr 650px;
      gap: 0 60px;
      .sub-box {
        padding: 30px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.1);
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 0 30px;
          > li {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              border-right: 1px dashed #8a95aa;
              width: 1px;
              height: 100%;
              display: inline-block;
            }
            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
        &.left {
          ul {
            li {
              dl {
                dt {
                  padding-bottom: 10px;
                  font-size: 14px;
                }
                dd {
                  font-size: 18px;
                  color: #8a95aa;
                  strong {
                    font-size: 40px;
                    line-height: 40px;
                    font-weight: 800;
                    color: #ffe500;
                  }
                }
              }
            }
          }
        }
        &.right {
          ul {
            grid-template-columns: 1fr 220px;
            > li {
              position: relative;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              p {
                padding-left: 90px;
                padding-right: 20px;
                font-size: 40px;
                font-weight: 600;
                line-height: 70px;
                span {
                  font-size: 20px;
                  line-height: 55px;
                  vertical-align: top;
                }
                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 90px;
                  height: 70px;
                  display: inline-block;
                  background: url('/src/assets/images/common/sprite_weather.png') no-repeat 0 0;
                  background-size: 270px auto;
                }
                &.type0 {
                  &::before {
                    background-position: -8px -128px;
                  }
                }
              }
              dl {
                align-items: center;
                dt {
                  padding: 12px 0 5px 0;
                  font-size: 18px;
                  line-height: 21px;
                  font-weight: 600;
                }
                dd {
                  font-size: 16px;
                }
              }
              &:last-child {
                display: block;
                ol {
                  li {
                    padding-bottom: 2px;
                    display: grid;
                    grid-template-columns: 30% 1fr;
                    font-size: 16px;
                    strong {
                      text-align: right;
                    }
                    &:last-child {
                      padding-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .current-sub-box {
      padding-bottom: 30px;
      display: grid;
      grid-template-columns: 1fr 650px;
      gap: 0 60px;

      .tit { 
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-size: 20px;
          font-weight: 600; 
          margin-bottom: 30px;
        }

        .nav {
          display: flex;
          gap: 20px;

          span {
            width: 1px;
            height: 18px;
            background-color: rgba(#fff, 0.1);
          }

          p {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:first-child::before,
            &:last-child::before {
              content: '';
              width: 10px;
              height: 15px;
              display: block;
              background-size: cover;
            }

            &:first-child::before {
              background: url('/src/assets/images/common/ico_prev.png') no-repeat center;
            }

            &:last-child::before {
              background: url('/src/assets/images/common/ico_next.png') no-repeat center;
            }

            &.btn-disabled {
              transition: opacity 0.3s ease, cursor 0.3s ease;
              opacity: 0.2;
              cursor: auto;
            }
          }
        }
      }

      .doughnut-box {
        padding-bottom: 24px;
        .swiper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 24px;
          max-width: 700px;
        }
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
        }

          li {
            position: relative;
            padding-top: 52px;
            width: 200px; 
            background: url('/src/assets/images/common/bg_doughnut2_1.png') no-repeat 0 0;  

            dl {
              text-align: center;
              position: relative;
              padding-bottom: 10px;

              dt {
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 5px;

                span {
                  font-size: 14px;
                }
              }

              dd {
                color: #8a95aa;
              }
            }

            &::after {
              content: '';
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              width: 200px;
              height: 200px;
              transition: all 1s ease-out;
              transform: rotate(var(--doughnut-value));
              background: url('/src/assets/images/common/ico_point1.png') no-repeat 25px center;
            }
          }
        
      }

      .inverter-box { 
        .swiper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 24px;

          .swiper-slide {
            position: relative; 
            padding: 15px;
            height: 80px;
            border-radius: 8px;
            background-color: #fff;

            p {
              padding-bottom: 5px; 
              color: #666666;
            }

            ol {
              li {
                padding-bottom: 10px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: 16px;
                color: #666666;

                span {
                  color: #111111;
                  font-weight: 600;
                  line-height: 16px;

                  strong {
                    font-size: 20px;
                    color: #00a3ff;
                  }
                  &:last-child {
                    font-size: 14px;
                    text-align: right;
                    color: #999;
                  }
                }

                &:last-child {
                  padding-bottom: 0;
                  span {
                    strong {
                      color: #ff8a00;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .inverter-box1 {
        Swiper {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0 20px;
          > li {
            padding: 17px 20px;
            border-radius: 8px;
            background-color: #fff;

            p {
              padding-bottom: 5px;
              color: #666666;
            }

            ol {
              li {
                padding-bottom: 10px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: 16px;
                color: #666666;

                span {
                  color: #111111;
                  font-weight: 600;
                  line-height: 16px;

                  &:first-child {
                    font-size: 16px;
                  }

                  &:last-child {
                    font-size: 14px;
                    text-align: right;
                    color: #999;
                  }

                  strong {
                    font-size: 20px;

                    &:first-child {
                      color: #00a3ff;
                    }

                    &:last-child {
                      color: #ff8a00;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.invalid-con {
  .current-con,
  .chart-con {
    padding-top: 30px;
    .display-box {
      padding-bottom: 60px;

      ul {
        grid-template-columns: repeat(3, 1fr);
        li {
          @include flex(row, center);
          margin-left: 0;
        }
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        border: 1px solid #fff;
        border-radius: 8px;

        li {
          @include position(relative);
          @include flex(row, flex-start, center);
          margin-left: 30px;
          height: 54px;

          p {
            @include position(relative);
            padding-left: 74px;
            @include typography(14px, normal, #fff);

            strong {
              @include typography(30px, 600, #fff);
              display: block;

              span {
                @include typography(18px, normal, #8a95aa);
              }
            }

            &::before {
              content: '';
              @include position(absolute, 3px, 0);
              @include size(60px, 54px);
              background: url('/src/assets/images/common/sprite_production.png')
                no-repeat 0 0;
            }
          }

          &:nth-child(1) p::before {
            background: url('/src/assets/images/common/ico_test01.png')
              no-repeat 0 0;
            @include size(75px, 54px);
            margin-left: -10px;
          }

          &:nth-child(2) p::before {
            background-position-x: -95px;
          }

          &:nth-child(3) p::before {
            background-position-x: -430px;
          }

          &:nth-child(4) p::before {
            background-position-x: right;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            @include size(1px, 100%);
            background-color: rgba(255, 255, 255, 0.25);
            display: inline-block;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
    .search-box {
      margin-bottom: 10px;
    }
    .chart-box {
      padding-bottom: 60px;
      .line,
      .bar {
        &:hover {
          opacity: 0.8;
          transition: all 0.3s ease;
        }

        &:active {
          opacity: 0.8;
          transform: scale(0.98);
        }
      }

      .zoom-in,
      .zoom-out {
        transition: all 0.3s ease;

        &:hover {
          opacity: 0.8;
          background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
          opacity: 0.6;
          transform: scale(0.98);
        }

        &:focus {
          outline: none;
          @include box-shadow(#2d3a7c, 0.8);
        }
      }

      span {
        @include flex(row, center, center);
        @include position(absolute, 0, 0);
        height: 26px;
        padding: 4px 10px;
        border-radius: 13px;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
    .table-box {
      .tit {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px; 

        span {
          color: #ffe500;
        }
      }
    }
  }
}

.weather-con {
  .display-box {
    padding-bottom: 60px;
    ul {
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border: 1px solid #525a84;
      border-radius: 8px;
      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 54px;
        p {
          position: relative;
          padding-left: 74px;
          font-size: 14px;
          color: #fff;
          strong {
            font-size: 30px;
            font-weight: 600;
            color: #fff;
            display: block;
            span {
              font-size: 18px;
              color: #8a95aa;
            }
          }
          &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            display: inline-block;
            width: 60px;
            height: 54px;
            background: url('/src/assets/images/common/sprite_production.png') no-repeat -516px 0;
          }
        }
        &:nth-child(2) {
          p {
            &::before {
              background-position-x: -602px;
            }
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 30px;
          width: 1px;
          height: 100%;
          background-color: rgba(45, 58, 124, 1);
          display: inline-block;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .map-con {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    .map-box {
      #map {
        border-radius: 8px;
        width: 100%;
        height: 690px;
        .info-window-box {
          padding: 5px;
          width: 46px;
          height: 64px;
          text-align: center;
          font-size: 12px;
          border-radius: 4px;
          color: #000;
          background: #fff;
          strong,
          img {
            padding-bottom: 1px;
            display: block;
          }
          img {
            margin: 0 auto;
          }
        }
      }
    }
    .map-data {
      padding: 30px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.1);
      .location {
        padding-bottom: 30px;
        dl {
          float: left;
          dt {
            padding-bottom: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            &::before {
              content: '';
              position: relative;
              bottom: -2px;
              display: inline-block;
              width: 22px;
              height: 16px;
              background: url('/src/assets/images/common/ico_location.png') no-repeat 0 0;
            }
          }
          dd {
            line-height: 16px;
            color: rgba(138, 149, 170, 1);
          }
        }
        .v-combobox {
          margin-right: 15px;
          float: right;
          &.v-input--density-default {
            --v-input-control-height: 38px;
          }
          .v-field {
            font-size: 14px;
            --v-field-padding-top: -8px;
            --v-field-padding-bottom: 9px;
          }
        }
        &::after {
          content: '';
          display: table;
          table-layout: fixed;
          clear: both;
        }
      }
      .sun-up-down {
        padding-bottom: 30px;
        ul {
          padding: 8px 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          border: 1px solid rgba(255, 255, 255, 0.25);
          border-radius: 8px;
          li {
            position: relative;
            font-size: 16px;
            text-align: center;
            span {
              position: relative;
              display: inline-block;
              padding-left: 39px;
              line-height: 30px;
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 29px;
                height: 28px;
                background: url('/src/assets/images/common/ico_sunup.png') no-repeat 0 0;
              }
            }
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 1px;
              height: 100%;
              background-color: rgba(238, 238, 238, 0.25);
            }
            &:last-child {
              span {
                &::before {
                  background: url('/src/assets/images/common/ico_sun_down.png') no-repeat 0 0;
                }
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .current_weather {
        padding-bottom: 30px;
        .ico_top {
          padding-bottom: 30px;
          display: flex;
          justify-content: center;
          p {
            position: relative;
            padding-left: 138px;
            strong {
              font-size: 40px;
              line-height: 40px;
              span {
                vertical-align: top;
                font-size: 20px;
                line-height: 32px;
              }
            }
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: inline-block;
              width: 110px;
              height: 150px;
              background: url('/src/assets/images/common/sprite_weather.png') no-repeat 0 0;
            }
          }

          @for $i from 1 through 23 {
            &.sky-#{$i} p::before {
              background-position-x: #{if($i > 12, -217px, 0)};
              background-position-y: #{if($i > 12, -1 * (($i - 13) * 150), -1 * (($i - 1) * 150))}px;
              position: absolute;

              @if $i >= 3 and $i <= 6 {
                top: -20px;
              } @else if $i >= 7 and $i <= 8 {
                top: -35px;
              } @else if $i == 9 or $i == 12 {
                top: -50px;
              } @else if $i == 17 {
                top: -25px;
              } @else if $i == 15 or $i == 16 {
                top: -10px;
              } @else if ($i >= 10 and $i <= 11) or ($i >= 18 and $i <= 23) {
                top: -40px;
              }
            }
          }
        }
        ul {
          padding-bottom: 30px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          li {
            position: relative;
            text-align: center;
            font-size: 16px;
            span {
              font-size: 20px;
              line-height: 26px;
              display: block;
            }
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              width: 1px;
              height: 100%;
              background-color: rgba(45, 58, 124, 1);
              display: inline-block;
            }
            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
        p.txt {
          padding: 7px 0;
          text-align: center;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.5);
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.1);
        }
      }
      .circus-box {
        ul {
          padding-bottom: 30px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          li {
            padding-top: 32px;
            text-align: center;
            height: 150px;
            line-height: 18px;
            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                strong {
                  font-size: 18px;
                  line-height: 32px;
                  @if $i == 1 {
                    color: #00d1ff;
                  }
                  @if $i == 2 {
                    color: #80ff44;
                  }
                  @if $i == 3 {
                    color: #ffa216;
                  }
                }
                background: url('/src/assets/images/common/bg_wather_circus#{$i - 1}.png') no-repeat center 0;
              }
            }
          }
        }
        dl {
          text-align: center;
          font-size: 16px;
          line-height: 18px;
          dt {
            padding-bottom: 6px;
          }
          dd {
            color: #999999;
          }
        }
      }
    }
  }
  .chart-tbl-con {
    .tab {
      position: relative;
      margin-bottom: 30px;
      min-height: 54px;
      overflow: hidden;
      border: 1px solid rgba($color: #fff, $alpha: 0.25);
      border-radius: 26px;
      ul {
        padding: 6px;
        display: inline-block;
        border-radius: 26px;
        vertical-align: top;
        background: #fff;
        li {
          text-align: center;
          float: left;
          width: 108px;
          a {
            display: inline-block;
            width: 100%;
            line-height: 40px;
            color: #999999;
            border-radius: 20px;
            cursor: pointer;
          }
          &.active {
            a {
              color: #fff;
              background-color: #003a64;
            }
          }
          &::after {
            content: '';
            display: table;
            table-layout: fixed;
            clear: both;
          }
        }
      }
      .chart-box {
        position: absolute;
        top: 14px;
        right: 14px;
        .chart-btn {
          padding-bottom: 60px;
          .line,
          .bar,
          .day {
            &:hover {
              opacity: 0.8;
              transition: all 0.3s ease;
            }
          }
          .line:active,
          .bar:active,
          .day:active {
            opacity: 0.8;
            transform: scale(0.98);
          }
        }
      }
    }
    .table-box {
      &.chart-tbl {
        .tbl {
          width: 1360px;
          overflow-x: auto;
    
          table {
            border-top: 0;
            table-layout: auto;
    
            tbody {
              tr {
                td,
                th {
                  border: 0;
                  text-align: center;
                  vertical-align: middle;
                }
    
                th {
                  padding: 5px 10px;
                }
    
                td {
                  padding: 5px 15px;
                  width: 70px;
                  border-left: 1px dashed rgba(255, 255, 255, 0.2);
    
                  &.chart {
                    padding: 0;
                  }
                }
    
                &:nth-child(2n) {
                  th,
                  td {
                    background-color: transparent;
                  }
                }
    
                &.border-btm {
                  th,
                  td {
                    border-bottom: 1px solid #fff;
                  }
                }
    
                &.border-topbtm {
                  th,
                  td {
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
    
                    p {
                      vertical-align: middle;
                      padding: 11px;
                      display: table-cell;
                      position: relative;
    
                      &::before {
                        content: '';
                        display: block;
                        width: 14px;
                        height: 17px;
                        background: url('/src/assets/images/common/ico_arrow.png') no-repeat center center;
                        background-size: contain;
                        position: absolute;
                        top: 15%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(var(--arrow-value, 0deg));
                        transition: transform 1s ease-out;
                      }
                    }
                  }
                }
    
                &:nth-child(2) {
                  td {
                    position: relative;
    
                    &::before {
                      content: '';
                      position: absolute;
                      top: 0;
                      left: 8px;
                      width: 40px;
                      height: 40px;
                      background: url('/src/assets/images/common/sprite_weather.png') no-repeat 0 0;
                      background-size: 120px 720px;
                      display: block;
                    }
                  }
                  @for $i from 1 through 23 {
                    td.sky-#{$i}::before {
                      background-position-x: #{if($i > 12, -100px, 0)};
                      background-position-y: #{if($i > 12, -1 * (($i - 13) * 64), -1 * (($i - 1) * 64))}px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.day-tbl {
        tr {
          td:nth-child(2) {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 10%;
              left: 15%;
              width: 40px;
              height: 40px;
              background: url('/src/assets/images/common/sprite_weather.png') no-repeat 0 0;
              background-size: 120px 720px;
              display: block;
            }
          }
          @for $i from 1 through 23 {
            td.sky-#{$i}::before {
              background-position-x: #{if($i > 12, -100px, 0)};
              background-position-y: #{if($i > 12, -1 * (($i - 13) * 64), -1 * (($i - 1) * 64))}px;
            }
          }
        } 
      }
    }
   
    .current-con {
      padding-top: 30px;
    }
  }
  .chart-con {
    padding-top: 30px;
    .search-box {
      margin-bottom: 30px ;
    }

    .chart-tbl-con {
      .tab {
        .chart-box {
          right: inherit;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }

    .total-box {
      padding-top: 30px;
      ul {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        li {
          position: relative;
          display: flex;
          align-items: center;
          font-size: 16px;
          dl {
            dt {
              padding-bottom: 6px;
            }
            dd {
              font-size: 20px;
              color: rgba(138, 149, 170, 1);
              strong {
                color: rgba(242, 105, 51, 1);
                &.big {
                  font-size: 24px;
                  color: #fff;
                }
              }
            }
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(45, 58, 124, 1);
            display: inline-block;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}  

.generation {
  .sub-title {
    margin-bottom: 30px;
  }

  .box {
    display: flex;
    padding: 30px;
    align-items: center;
    border: solid 1px rgba($color: #fff, $alpha: 0.25);
    border-radius: 8px;
    gap: 30px;
    margin-bottom: 20px;

    .title {
      display: flex;
      gap: 10px;

      p {
        font-size: 18px;
      }

      img {
        width: 26px;
      }
    }

    .line {
      height: 44px;
      width: 1px;
      background-color: #2d3a7c;
    }

    .sub {
      font-size: 16px;
      line-height: 140%;
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }

  .table-box {
    .tbl {
      font-size: 18px;
      .right-none {
        border-right: none;
      }
    }
  }
}

