.login-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;  
  justify-content: center; 

  img {
    width: 50vw;
    height: 100vh;
  }

  .login-box {
    margin-left: 20%;  
    width: 516px;
    height: auto;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    gap: 20px;  

    .form {
      width: 100%;  
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 80px;

      p {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        color: #fff;
      }
    }

    .con {
      padding-bottom: 80px;

      p {
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 18px;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.05);
          display: grid;
          grid-template-columns: 14% 1fr;

          label {
            padding: 0 10px 0 20px;
            line-height: 50px;
            font-weight: 700;
            letter-spacing: -0.18px;
          }

          input {
            padding: 0 10px;
            width: 100%;
            line-height: 50px;
            color: #fff;

            &::placeholder {
              color: #707070;
            }
          }
        }

        &:nth-child(3) {
          padding-bottom: 60px;
          
        }
      }

      .submit > .v-btn {
        width: 100px;
        height: 50px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        border-radius: 8px;
        border: 1px solid #fff;
        background: transparent;
      }
    }

    .foot {
      dt {
        padding-bottom: 10px;
      }

      dd {
        color: #8a95aa;
        font-size: 12px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.12px;
      }
    }
  }
}
